@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: beige;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #E0144C;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: beige;
  background: #E0144C;
}
nav .menu-btn i{
  color: #E0144C;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: beige;
  }
}
.content{
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #1b1b1b;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
.icons {
  display: flex;
}
.icons div {
  margin-right: 20px ;
}
.content h1 {
  font-size: 5rem;
  line-height: 1.3em;
  margin-bottom: 1.3rem;
}
.content p {
  font-size: 1.3em;
  line-height: 2em;
  margin-bottom: 3.8em;
}
.content .btn {
  background: #e5547e ;
  padding: 20px 50px;
  border-radius: 30px;
  font-weight: 500;
  color: white;
}
.fb {
  transition:.5s ease;
}
.fb:hover {
  transform: translateY(-10px);

}