:root{
	--bg-color: #fff;
	--main-color: #e55472;
	--text-color: #010101;
	--2nd-color: #434343;
	--other-color: #666666;
	--big-font: 5rem;
	--h2-font: 2.3rem;
	--p-font: 1.3rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 7px rgb(172, 172, 172);
  background-color: white;
}

.bars {
  display: none;
  padding: 24px;
}

li {
  font-family: 'Arial', Times, sans-serif;
  font-size: 20px;
  list-style: none;
  padding: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0 32px;
}

.flower {
  width: 100vw;
  height: 700px;
  background-image: url("../img/background.jpg");
  background-position: center;
  display: flex;
  justify-content: flex-start;
}

.flower-text {
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 10%;
  padding-top: 5rem;
}

/*
.flower-text > *{
    padding-bottom: 4rem;
}*/
.flower-text>h1 {
  font-size: 64px;
  color: #434343;
}

.flower-text>h3 {
  font-size: 20px;

}

.flower-text>button {
  background-color: var(--name);
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  padding: 20px 30px;
}

.flower-text>button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--name);
  transition: 0.6s ease-in;
  border: solid 1px var(--name);
}

li:hover {
  color: var(--name);
  transition: 0.8s ease;
  cursor: pointer;
}

li.icons:hover {
  transform: translate(0, -5px);
  transition: 0.8s ease-out;
}

@media screen and (max-width: 900px) {
  nav {
    justify-content: space-between;
  }

  ul {
    display: block;
    flex-direction: column;
  }

  li.icons {
    display: none;
  }

  .bars {
    display: block;
    margin-right: 2rem;
  }

  nav>img {
    margin-left: 2rem;

  }

  @media screen and (max-width: 600px) {
    .flower-text {
      width: 100%;
      text-align: center;
    }
  }
}